{{#if (element selectedImplements name "image")}}
  <img
    src="{{element selectedImplements name 'image'}}"
    style="flex-basis: 100px; flex-shrink: 0;"
  />
{{else}}
  <img
    src="/modules/pf2e-thaum-vuln/assets/chosen-implement.webp"
    style="flex-basis: 100px; flex-shrink: 0;"
  />
{{/if}}
<span
  style="flex-basis: 200px; flex-shrink: 0; padding: 10px; text-align: center;"
>
  {{#if (element selectedImplements name "trueName")}}
    <p id="implementLabel">{{element selectedImplements name "trueName"}}</p>
  {{else}}
    <p id="implementLabel">Drag an item here to designate it as an implement.</p>
  {{/if}}

</span>