<img
  src="{{element selectedImplements name 'image'}}"
  style="flex-basis: 100px; flex-shrink: 0;"
/>
<span
  style="flex-basis: 200px; flex-shrink: 0; padding: 10px; text-align: center;"
>
  {{element selectedImplements name "trueName"}}
</span>